<div>Bonjour</div>
<br />
<div>
  La prochaine tournée de collecte L’INCASSABLE sur votre zone aura lieu autour
  du {{dateTournee}}. Merci de nous communiquer votre taux de remplissage
  (casier ou palox) en remplissant le formulaire suivant avant le {{dateLimit}}
  :
  <a href="{{lienFormulaire}}">Lien formulaire</a>
</div>

<br />
<div>
  Nous reviendrons vers vous si la collecte est déclenchée dans votre magasin.
</div>
<br />
<div>En vous souhaitant une bonne journée</div>
<br />
<div>Camille</div>
<div>collecte@lincassable.com</div>
